ul {
    list-style-type: none;
    padding: 3%;
    overflow: hidden;
    background-color: cadetblue;
}

li {
    float: left;
}

li a { /* add a */
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 2em;
    font-family:  "Courier New", monospace; 
}

/*
ul li:hover {
    height: 100%;
    background-color:#cc0000;
    opacity: 0.05;
}*/

#navi {
    position: relative;
    margin-left: 80%;
}


#q1 {
    color: #585B56;
}

#profilePic {
    width: 30%;
}
/*
#q1 {
    text-align: center;
    font-family:  "Courier New", monospace; 

}
.containerPic {
    height: 40vw;
    position: relative;
    text-align: center;
    color: black;
}

#profilePic {
    display: block;   
    margin-left: auto;
    margin-right: auto;
    width: 80%;    
}
.containerText {
    position: absolute;
    top:10%;
    color: white;
    padding-right: 20%;
}*/

