html, body {
    height: 100%;
    margin:0;
    padding:0;
    overflow: hidden;
}

#blue {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    width: 26em;
    animation: opa 12s; 
}
@keyframes opa{
    0%   { 
        opacity: 0;
    }
    100% { 
        opacity: 1; 
    }
}
#blueBox {
    position:relative;
    height: 100%;
    width: 100%;
}



